.modal-overlay-category {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 24, 39, 0.6);
    /* #111827 with transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
}

.modal-card{
    position: fixed !important;
    z-index: 999 !important;
}